<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <carriers>
            <XanhSMshipping>
                <active>1</active>
                <sallowspecific>0</sallowspecific>
                <model>Delivery\XanhSM\Model\Carrier\Shipping</model>
                <name>Xanh Sm Delivery Method</name>
                <price>50000</price>
                <title>Xanh Sm Shipping</title>
                <specificerrmsg>This shipping method is not available. To use this shipping method, please contact us.</specificerrmsg>
                <handling_type>F</handling_type>
            </XanhSMshipping>
        </carriers>
    </default>
</config>
